services:
  app_engage:
    build:
      context: .
      dockerfile: ./docker/php/Dockerfile.staging
      args:
        - UID=1000
        - GID=1000
    environment:
      - APP_ENV=staging
      - APP_DEBUG=false
    depends_on:
      - db_engage
    volumes:
      - .:/var/www/html
      - ./docker/nginx/default.local.conf:/etc/nginx/conf.d/default.conf
      - ./docker/php/local.ini:/usr/local/etc/php/conf.d/local.ini

  webserver_engage:
    image: nginx:alpine
    container_name: webserver_engage
    restart: unless-stopped
    ports:
      - "80:80"
    volumes:
      - .:/var/www/html
      - ./docker/nginx/default.staging.conf:/etc/nginx/conf.d/default.conf
    networks:
      - app_engage_network

  db_engage:
    image: postgres:15
    restart: unless-stopped
    environment:
      POSTGRES_DB: ${DB_DATABASE}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5432:5432"
    networks:
      - app_engage_network

  engage_redis:
    image: redis:alpine
    ports:
      - "6379:6379"
    networks:
      - app_engage_network
